[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git

[submodule "third_party/benchmark/googletest"]
	path = third_party/benchmark/googletest
	url = https://github.com/google/googletest.git